section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/banner/br1.jpg", alt="")
	.container
		.breadcrumb-content
			h3.pagename
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Dịch vụ
					meta(itemprop='position', content='2')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Làm đẹp da theo yêu cầu
					meta(itemprop='position', content='3')
section.service-page.clearfix
	.container
		h1.home-title.text-center Làm đẹp da theo yêu cầu
		.content
			p Nếu bạn đang tìm kiếm giải pháp làm đẹp da mặt thuần túy thiên nhiên, lành tính & tiết kiệm thì chăm sóc da bằng hoa tươi, trái cây & thảo mộc là gợi ý vô cùng thích hợp cho bạn. Thực hiện liệu trình đều đặn mỗi tuần giúp bạn sở hữu làn da luôn sáng hồng, khỏe đẹp hơn cả mong đợi.

			p 
				strong Liệu trình sử dụng các nguyên liệu 100% thiên nhiên sau: 

			p 
				strong Sáp nghệ quế chi: 
				|giàu chất antioxidants có tác dụng giúp làm mềm mại làn da, làm sạch và kháng khuẩn.

			p 
				strong Men gạo: 
				|giàu khoáng chất, vitamin B, vitamin E, chất chống oxy hóa, giúp da luôn trẻ và đẹp bằng cách thu hẹp lỗ chân lông, giảm nếp nhăn, thắt chặt và làm sáng da

			p 
				strong Đường nâu dầu cọ: 
				|Dồi dào Glycolic giúp tẩy tế bào chết, xóa thâm sần & sáng hồng mịn da

			p 
				strong Khoáng cam trà xanh: 
				|chứa rất nhiều loại vitamin A, C, E…có tác dụng bổ sung nguồn dưỡng chất tái tạo tế bào da, cải thiện sắc tố cho da trở nên trắng sáng, mịn màng. Giúp dưỡng ẩm & khoá dưỡng chất mặt nạ vừa cung cấp

			p 
				strong Tùy chọn các loại mặt nạ theo nhu cầu:
			ul
				li 
					strong Bông hồng: 
					|làm trắng da, se khít lỗ chân lông
				li 
					strong Bông sữa: 
					|làm trắng da, dưỡng ẩm
				li 
					strong Chùm ngây Abo: 
					|dưỡng ẩm, làm mịn da
				li 
					strong Tảo biển tươi: 
					|chống lão hoá, săn chắc da
				li 
					strong Khổ qua bạc hà: 
					|làm dịu da
				li 
					strong Soya dâu: 
					|kiềm dầu, làm trắng, se khít lỗ chân lông

			p Tinh dầu mầm nho: Chiết xuất từ hạt của giống nho có tên khoa học là Vitis Vinifera từ Châu Âu & Mỹ chứa chất chống oxy hóa ưu việt Proanthocyanidins, giúp da chống lại tác hại của ánh mặt trời, các tổn thương da do lão hóa, se lỗ chân lông, dưỡng trắng, đều màu da, là loại dầu ưa chuộng của hãng mỹ phẩm dưỡng da danh tiếng.

			p 
				strong Các bước thực hiện:

			p Sau khi rửa mặt & thanh tẩy da chết bằng sáp nghệ quế chi để loại bỏ bụi bẩn trên da, đào thải độc tố đồng thời giúp da hấp thu tối đa dưỡng chất, các chuyên viên sẽ tiến hành xông nóng nhằm mở lỗ chân lông. Lúc này, làn da sẵn sàng hấp thu dưỡng chất & tăng lưu thông bạch huyết. Bước kế đến là tẩy tế bào chết mặt bằng men gạo và tẩy tế bào chết môi đường nâu dầu cọ giúp bong tróc tế bào chết, dưỡng ẩm da. Sau đó, hút bã nhờn & mụn cám làm sạch sâu lỗ chân lông & thúc đẩy quá trình trao đổi oxy.

			p Tiếp theo, bạn được massage, ấn huyệt giúp lưu thông máu huyết vùng da mặt với nguyên liệu thuần túy thiên nhiên và đắp mặt nạ trái cây tươi phù hợp với loại da. Mặt nạ bông tươi, trái cây & thảo mộc tại Bông Spa vận dụng những công thức đã được chọn lọc và kết hợp để mang lại hiệu quả tối ưu giúp nuôi dưỡng, làm sạch, lấy đi các tế bào chết trên da, cung cấp nước, độ ẩm, bảo vệ làn da khỏi tác hại của ánh nắng mặt trời, đồng thời chống lão hóa hoàn hảo.

			p Kế đến, khi trải nghiệm liệu pháp lạnh và khoáng cam trà xanh se khít lỗ chân lông, săn chắc da & khóa dưỡng chất từ mặt nạ hoa tươi, thảo mộc vừa cung cấp, bạn sẽ thật sự bất ngờ với làn da mịn màng, rạng rỡ của mình trong gương.
		.share
			img(src="img/share.jpg", alt="")
		.other-service
			h1.home-title.text-center Dịch vụ khác
			.service-list
				.row
					.col-12.col-md-4
						.service-col
							figure
								a.service-img(href="#!")
									img(src="img/service/1.png", alt="")
									h3.service-name Face
								figcaption
									.service-des Liệu trình chăm sóc giúp làm chậm quá trình lão hóa da, kích thích sản sinh collagen.
									a.link(href="#!") Xem thêm
					.col-12.col-md-4
						.service-col
							figure
								a.service-img(href="#!")
									img(src="img/service/2.png", alt="")
									h3.service-name Body
								figcaption
									.service-des Giúp cải thiện các dấu hiệu hư tổn, kích ứng da và mang đến độ hồng hào khỏe mạnh tới 90% chỉ sau 1 liệu trình.
									a.link(href="#!") Xem thêm
					.col-12.col-md-4
						.service-col
							figure
								a.service-img(href="#!")
									img(src="img/service/3.png", alt="")
									h3.service-name Foot
								figcaption
									.service-des Thư giãn toàn thân phù hợp với cơ địa của người Việt Nam còn có tác dụng chữa bệnh và làm đẹp độc đáo.
									a.link(href="#!") Xem thêm