.container
	nav#topnav.top-nav.clearfix
		ul.nav
			li.nav-item.active
				a.nav-link(href='#part-1') Tổng quan
			li.nav-item
				a.nav-link(href='#part-2') Quá trình hình thành
			li.nav-item
				a.nav-link(href='#part-3') Tầm nhìn - Sứ mệnh
			li.nav-item
				a.nav-link(href='#part-4') Con người
			li.nav-item
				a.nav-link(href='#part-5') Cam kết chất lượng
section.about-page(data-spy='scroll', data-target='#topnav', data-offset='0')
	#part-1.about-section
		.container
			h1.home-title.text-center Tổng quan
			.about-content.text-center
				img(src="img/about/c1.jpg", alt="")
	#part-2.about-section
		h2.home-title.text-center Quá trình hình thành
		.about-content.text-center
			img(src="img/about/c2.jpg", alt="")
	#part-3.about-section
		.container
			h2.home-title.text-center Tầm nhìn - Sứ mệnh
			.about-content.text-center
				img(src="img/about/c3.jpg", alt="")
	#part-4.about-section
		.container
			h1.home-title.text-center Con người
			.about-content.text-center
				img(src="img/about/c4.jpg", alt="")
	#part-5.about-section
		.container
			h2.home-title.text-center Cam kết chất lượng
			.about-content.text-center
				img(src="img/about/c5.jpg", alt="")
	#part-5.about-section
		.container
			h2.home-title.text-center Cam kết chất lượng
			.about-content.text-center
				img(src="img/about/c6.jpg", alt="")