section.home-service.clearfix
	.container
		h1.home-title.text-center Dịch vụ chăm sóc sức khỏe
		.home-des.text-center Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
		.service-list
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/1.png", alt="")
							h3.service-name Face
						figcaption
							.service-des Liệu trình chăm sóc giúp làm chậm quá trình lão hóa da, kích thích sản sinh collagen.
							a.link(href="#!") Xem thêm
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/2.png", alt="")
							h3.service-name Body
						figcaption
							.service-des Giúp cải thiện các dấu hiệu hư tổn, kích ứng da và mang đến độ hồng hào khỏe mạnh tới 90% chỉ sau 1 liệu trình.
							a.link(href="#!") Xem thêm
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/3.png", alt="")
							h3.service-name Foot
						figcaption
							.service-des Thư giãn toàn thân phù hợp với cơ địa của người Việt Nam còn có tác dụng chữa bệnh và làm đẹp độc đáo.
							a.link(href="#!") Xem thêm
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/1.png", alt="")
							h3.service-name Face
						figcaption
							.service-des Liệu trình chăm sóc giúp làm chậm quá trình lão hóa da, kích thích sản sinh collagen.
							a.link(href="#!") Xem thêm
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/2.png", alt="")
							h3.service-name Body
						figcaption
							.service-des Giúp cải thiện các dấu hiệu hư tổn, kích ứng da và mang đến độ hồng hào khỏe mạnh tới 90% chỉ sau 1 liệu trình.
							a.link(href="#!") Xem thêm
			.item
				.service-col
					figure
						a.service-img(href="#!")
							img(src="img/service/3.png", alt="")
							h3.service-name Foot
						figcaption
							.service-des Thư giãn toàn thân phù hợp với cơ địa của người Việt Nam còn có tác dụng chữa bệnh và làm đẹp độc đáo.
							a.link(href="#!") Xem thêm
		.service-img.text-center
			img(src="img/service/bg.png", alt="")
section.home-benefit.clearfix
	.container
		h2.home-title.text-center Lợi tích spa đem lại
		.benefit-wrap
			.benefit-img.text-center
				img(src="img/benefit/mainimg.png", alt="")
			.benefit-content
				.row
					.col-12.col-lg-6
						.benefit-list
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit1.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit2.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit3.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
					.col-12.col-lg-6
						.benefit-list.benefit-list2
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit4.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit5.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
							.benefit
								figure
									.benefit-img
										img(src="img/icon/benefit6.png", alt="")
									figcaption
										h3.benefit-name Lorem Ipsum là gì
										.benefit-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
section.home-product.clearfix
	.container
		h2.home-title.text-center Mỹ phẩm cho sắc đẹp
		.row
			.col-12.col-xl-9
				.product-list
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Dầu dừa
									.product-des 250ml
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/2.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Mật ong
									.product-des 100ml
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Bioblash
									.product-des 50ml
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Dầu dừa
									.product-des 250ml
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/2.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Mật ong
									.product-des 100ml
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/3.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Bioblash
									.product-des 50ml
		.product-bg
			img(src="img/product/bg.png", alt="")
		.btn-wrap
			a.btn-viewmore(href="#!") Xem thêm
section.home-promotion.clearfix
	.container
		.promotion-wrap
			.promotion-img
				img(src="img/promotion/img1.jpg", alt="")
			.promotion-content
				h2.home-title Khuyến mãi
				.promotion-list
					a.promotion(href="#!")
						strong Tháng 12 - 2017: 
						|Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
					a.promotion(href="#!")
						strong Tháng 12 - 2017: 
						|Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
					a.promotion(href="#!")
						strong Tháng 12 - 2017: 
						|Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
section.home-news.clearfix
	.container
		h2.home-title.text-center Tin tức hoạt động
		.news-list
			.row
				.col-12.col-sm-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Lorem Ipsum là gì
								.news-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
				.col-12.col-sm-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Lorem Ipsum là gì
								.news-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
				.col-12.col-sm-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Lorem Ipsum là gì
								.news-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
				.col-12.col-sm-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/4.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#!") Lorem Ipsum là gì
								.news-des Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc.
section.home-schedule.clearfix
	.schedule-bg
		img(src="img/schedule/bg.jpg", alt="")
	.container
		.row
			.col-12.col-md-6.col-lg-8
			.col-12.col-md-6.col-lg-4
				section.schedule-form
					h2.home-title Đặt lịch hẹn
					.form-wrap
						.form-group
							input.form-control(type="text" placeholder="Họ và tên")
						.form-group
							input.form-control(type="text" placeholder="Email")
						.form-group
							input.form-control(type="text" placeholder="Số điện thoại")
						.form-group
							select.form-control(name="")
								option(value="" selected) Chọn dịch vụ
						.form-group
							select.form-control(name="")
								option(value="" selected) Chọn ngày giờ
						.frm-btn
							input(type="submit", value="Đặt lịch")
							