section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/banner/br1.jpg", alt="")
	.container
		.breadcrumb-content
			h3.pagename
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Hành động vì cộng đồng
					meta(itemprop='position', content='2')
section.news-page.clearfix
	.container
		h1.home-title.text-center Hành động vì cộng đồng
		.news-list
			.row
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/4.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/5.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/6.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/7.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/8.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/9.jpg", alt="")
							figcaption
								time 24/07/2017
								h2.news-name
									a(href="#!") Triển lãm Marry Wedding
								.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
								.btn-wrap
									a.link(href="#!") Xem thêm