section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/banner/br1.jpg", alt="")
	.container
		.breadcrumb-content
			h3.pagename
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Hành động vì cộng đồng
					meta(itemprop='position', content='2')
section.news-page.clearfix
	.container
		h1.home-title.text-center Emart Việt Nam hướng tới các hoạt động vì cộng đồng
		.content
			p 
				strong Công ty tổ chức nhiều hoạt động ý nghĩa để góp phần phát triển kinh tế và hoàn thành trách nhiệm xã hội.
			p Emart thuộc Tập đoàn Shinsegae của Hàn Quốc có lịch sử 85 năm trong lĩnh vực bán lẻ. Được thành lập từ tháng 4/2014, Emart Việt Nam đã khai trương đại siêu thị đầu tiên vào tháng 12/2015 tại quận Gò Vấp, TP HCM. Với quy mô 2 tầng trên diện tích 10.560m2, Emart Gò Vấp thể hiện các yếu tố khác biệt của "Emart Town" - mô hình trung tâm mua sắm đang vận hành khá thành công tại Kintex, thành phố Ilsan, Hàn Quốc. Sắp tới, thông qua việc mở cửa siêu thị tiếp theo cùng với việc mở rộng lĩnh vực bán lẻ bằng cách xây dựng thương hiệu No Brand, Emart sẽ mang đến sự thay đổi mới về mô hình mua sắm cho khách hàng Việt Nam.
			p 
				strong Các hoạt động xã hội của Emart Việt Nam
			p Emart mong muốn góp phần phát triển kinh tế và hoàn thành trách nhiệm xã hội ở nước sở tại thông qua triết lý kinh doanh minh bạch theo pháp luật và đạo đức kinh doanh. Bên cạnh việc duy trì và phát triển nguồn nhân lực, ban lãnh đạo công ty cùng toàn thể nhân viên đã cùng tham gia các hoạt động xã hội, đồng hành và phát triển với đối tác cũng như triển khai nhiều hoạt động kinh doanh thân thiện với môi trường và hướng đến tương lai. Công ty tích cực chung tay với đoàn thể địa phương mang đến hy vọng cho những hoàn cảnh kém may mắn ở khu vực khó khăn qua các chương trình "Sẻ chia hy vọng", "Chiến dịch gửi trao hy vọng", "Chuyến xe hy vọng".

			p Chiến dịch "Sẻ chia hy vọng" là chương trình hợp tác với các tổ chức địa phương, hoặc NGOs để tiếp thêm hy vọng cho những hoàn cảnh khó khăn bất hạnh cần được giúp đỡ như trẻ em nghèo, người khuyết tật, người già neo đơn… Bên cạnh đó, từ tháng 3/2016, toàn thể lãnh đạo và nhân viên đã chủ động tham gia đóng góp cùng công ty trong chiến dịch "Gửi trao hy vọng" theo nguyên tắc Matching Grand - nghĩa là công ty sẽ đóng góp số tiền bằng với sự đóng góp tự giác của nhân viên thay vì đóng góp phần chủ yếu và nguồn ngân quỹ hoạt động như trước đây. Nguồn ngân quỹ này được sử dụng cho các hoạt động xã hội đa dạng như hỗ trợ sinh hoạt phí, chi phí điều trị bệnh, xây dựng thư viện đồ chơi, tặng đồng phục cho con em của tầng lớp thu nhập thấp.

			p "Chuyến xe hy vọng" là hoạt động xã hội tiêu biểu mà Emart tự chi trả tất cả chi phí từ hàng hóa đến phương tiện vận chuyển. Mục đích của hoạt động là trực tiếp tìm đến và trao tặng sản phẩm sinh hoạt cần thiết cho những người khó khăn ở những khu vực cần được quan tâm hỗ trợ.

			p Để hoàn thành trách nhiệm xã hội của doanh nghiệp, một năm trước khi mở cửa siêu thị đầu tiên, Emart Việt Nam đã cùng với cộng đồng địa phương tổ chức các hoạt động xã hội hữu ích. Công ty không chỉ mong muốn mang đến nét văn hoá và phương tiện mua sắm mới phù hợp với người tiêu dùng địa phương mà còn quan tâm, đóng góp tích cực cho những nhu cầu quan trọng hàng đầu của người dân Việt Nam như bảo vệ trẻ em, chăm sóc sức khỏe và phát triển giáo dục.
			p
				strong Chương trình tặng mũ bảo hiểm cho trẻ em
			p Hàng năm, Emart phối với với Ủy ban An toàn Giao thông Quốc gia Việt Nam trao tặng 10.000 mũ bảo hiểm đạt chuẩn cho học sinh tiểu học trên cả nước để bảo vệ trẻ em khỏi tai nạn giao thông do không đội mũ bảo hiểm. Không chỉ Emart, nhiều doanh nghiệp khác cũng nhận thức được tầm quan trọng của hoạt động này nên đã cùng tham gia, giúp cho chương trình được nhân rộng trên phạm vi cả nước.
			p 
				strong Dự án "Thư viện đồ chơi hy vọng"
			p Emart Việt Nam cũng đang tích cực thực hiện dự án "Thư viện đồ chơi hy vọng" giúp trẻ phát triển trí tuệ và văn hóa vui chơi bổ ích. Năm 2015, công ty đã ký kết MOU với Quỹ Bảo trợ Trẻ em Việt Nam và tiến hành chọn địa điểm lắp đặt. Dự kiến tháng 6 tới, đơn vị sẽ mở thư viện đầu tiên tại Trung tâm Văn hóa quận Gò Vấp, TP HCM. Tập đoàn sẽ tiến hành lắp đặt thư viện, cung cấp đồ chơi và chi phí điều hành quản lý với tổng chi phí đầu tư trong 5 năm là 3 tỷ đồng. Đây là hoạt động xã hội đầu tiên ở nước ngoài sử dụng nguồn ngân quỹ theo nguyên tắc Matching Grand với sự đóng góp của Emart và 32.000 người gồm ban lãnh đạo và nhân viên thuộc Tập đoàn Shinsegae.
			p
				strong Chiến dịch cải thiện thói quen sinh hoạt của trẻ em
			p Đây là hoạt động tổng hợp gồm chương trình "Cải thiện thói quen ăn uống" và chiến dịch "Trẻ em với an toàn giao thông" được thực hiện mỗi tháng 2 lần, bắt đầu từ tháng 4 năm nay tại Emart Việt Nam với mục tiêu cải thiện thói quen sinh hoạt chưa tốt của trẻ em. Hoạt động dành cho đối tượng trẻ mẫu giáo, học sinh tiểu học khối 1 và khối 2. Chương trình cải thiện thói quen ăn uống được khởi xướng ở Mỹ với mong muốn bảo vệ sức khỏe cho trẻ em thông qua việc thay đổi thói quen ăn thịt bằng ít nhất 5 loại rau quả trong một ngày. Bên cạnh đó, để bảo vệ trẻ em khỏi trước tình trạng tử vong vì tai nạn giao thông, ngoài hoạt động tặng mũ bảo hiểm, Emart còn tổ chức giáo dục về quy định cơ bản khi tham gia giao thông trên đường qua các trò chơi thực hành nhằm tạo nên sức mạnh bảo vệ an toàn cho trẻ em.
			p Trong tương lai, Emart Việt Nam sẽ tiếp tục thực hiện các hoạt động xã hội vì trẻ em và tầng lớp khó khăn ở Việt Nam. Ngoài ra, Emart cũng có kế hoạch tổ chức chương trình "Hướng nghiệp hy vọng" nhằm giúp thanh thiếu niên có hoàn cảnh kém may mắn thêm tự tin và cơ hội việc làm để thành công trong xã hội. Thông qua các hoạt động xã hội đa dạng, Emart sẽ không ngừng nỗ lực phấn đấu trở thành doanh nghiệp được yêu mến trong và ngoài nước.
		.share
			img(src="img/share.jpg", alt="")
		.other-news
			h2.home-title.text-center Dịch vụ khác
			.news-list
				.row
					.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 24/07/2017
									h2.news-name
										a(href="#!") Triển lãm Marry Wedding
									.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
									.btn-wrap
										a.link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									time 24/07/2017
									h2.news-name
										a(href="#!") Triển lãm Marry Wedding
									.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
									.btn-wrap
										a.link(href="#!") Xem thêm
					.col-12.col-sm-6.col-md-4
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									time 24/07/2017
									h2.news-name
										a(href="#!") Triển lãm Marry Wedding
									.news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti perferendis repellat commodi ducimus quaerat cupiditate.
									.btn-wrap
										a.link(href="#!") Xem thêm
				