section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/banner/br1.jpg", alt="")
	.container
		.breadcrumb-content
			h3.pagename
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Sản phẩm
					meta(itemprop='position', content='2')
section.product-page.clearfix
	.container
		.row
			.col-12.col-lg-6
				.slide-wrap
					.product-slide
						.item
							a.img(href="img/product/4.jpg" data-fancybox="productimg")
								img(src="img/product/4.jpg", alt="")
					.product-nav
						.item
							.img
								img(src="img/product/4.jpg", alt="")
			.col-12.col-lg-6
				.product-info
					h1.product-name Kem chống nắng cam thảo SunScreen SPF 30++
					.product-size 30ml
					.product-overview
						.content
							ul
								li Hãng sản xuất: 
									strong Mỹ
								li Mã sản phẩm: 
									strong 13032721
								li Tình trạng:
									strong Còn hàng
			.col-12
				.product-description
					ul#myTab.nav.nav-tabs(role='tablist')
						li.nav-item
							a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Mô tả
						li.nav-item
							a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Đặc tính
						li.nav-item
							a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Đánh giá
					#myTabContent.tab-content
						#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
							.description-content.content
								p Sunscreen SPF 30++ bảo vệ da chống lại tia UVA / UVB – tác nhân gây ra hầu hết các vấn đề về da như tàn nhang, đốm nâu, nám, nếp nhăn,…
								p Sunscreen SPF 30++ nhẹ nhàng dưỡng trắng làn da và chống lại sự hình thành nếp nhăn. Tinh chất dưỡng da có tác dụng bảo vệ da, giúp da luôn tỏa sáng và không gây bóng dầu.
								p Đặc biệt, Sunscreen SPF 30++ không để lại vết trắng không đều màu trên da khi dùng.
								p Bạn có thể nói “Không” với phấn trang điểm vì Sunscreen SPF 30++ chính là lớp nền hoàn hảo suốt cả ngày cho làn da bạn.
						#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
							table.table
								thead.thead-dark
									tr
										th(scope="col" colspan="2") Thông tin chi tiết
								tbody
									tr
										th(scope="row") Cách sử dụng
										td Thoa kem dưỡng ban ngày ngay trước khi thoa kem chống nắng để có hiệu quả bảo vệ da tốt nhất và giúp làn da mịn màng, toả sáng suốt cả ngày. Chấm kem lên 5 điểm (trán, má phái, má trái, mũi, cằm), thoa kem đều từ dưới lên trên, từ trong ra ngoài theo chiều xoắn ốc; thoa kem chống nắng ít nhất 20 phút trước khi đi ra ngoài.
									tr
										th(scope="row") Thành phần chính
										td 
											.content
												p 
													strong Argan seed oil: 
													|Dầu chứa Vitamin E gấp đôi so với dầu chiết xuất từ cây ô liu, chất này hoạt động như một lá chắn chống oxy hóa và có tác dụng chống tia UV mạnh mẽ, nó còn có tác dụng hiệu quả trong việc chống lão hóa, ngăn ngừa các vấn đề mẫn cảm trên da và mang lại cảm giác tươi mát nhẹ nhàng khi sử dụng.
												p 
													strong Acaiberry: 
													|Đây là loại trái mọc ở rừng rậm Amazon được chứng minh bởi các chuyên gia là có khả năng chống lại tia UVB một cách hiệu quả. Thêm nữa, chúng rất giàu chất dưỡng ẩm giúp đẩy lùi da khô, mang lại làn da mềm mại, mịn màng.
												p 
													strong Shea Butter: 
													|Đây là một chất dưỡng da “do Thượng Đế ban tặng” bởi tác dụng tuyệt vời với làn da. Điểm đặc biệt là loại bơ này có thể thẩm thấu nhanh mà không để lại cảm giác nhờn như các loại dầu nền dưỡng da khác. Hơn nữa còn làm da săn chắc và tế bào da trở nên khỏe hơn, dưỡng ẩm và giúp phục hồi sự hư tổn của da, mang lại sức sống cho những làn da bị khô mốc do thời tiết, đồng thời giúp duy trì độ ẩm cần thiết. Centella (Rau má) – đây là loại thảo dược có tác dụng sát trùng giải độc, chứa nhiều sinh tố, khoáng chất, những chất chống oxy hoá, làm chậm sự lão hoá, cải thiện vi tuần hoàn và chữa nhiều chứng bệnh về da. Jojoba - là một tinh chất kỳ diệu của tự nhiên, là một chất sáp lỏng được lấy từ hạt cây bụi tại Mexico, là loại dầu dưỡng ẩm rất nhạy, sẽ dàng thẩm thấu vào da, giúp nuôi dưỡng da và làm se khít lỗ chân lông. Giúp chống lão hóa da và nếp nhăn. Thêm nữa nó có tác dụng điều tiết tuyến nhờn tại da dầu.
						#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
							.fb-comment
								img(src="img/comment.jpg", alt="")

		.other-product
			h3.page-title Sản phẩm khác
			.product-list
				.row
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Green Apple Brightening Eye Cream
									.product-des 250ml
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/2.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Devita Solar Body Moisturizer SPF 30+
									.product-des 100ml
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/3.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") Blemish Clearing Powder
									.product-des 50ml
					.col-12.col-sm-6.col-md-4.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.jpg", alt="")
								figcaption
									h3.product-name
										a(href="#!") SPF 30 Sport Sunscreen
									.product-des 250ml