section.breadcrumb-wrap.clearfix
	.breadcrumb-banner
		img(src="img/banner/br1.jpg", alt="")
	.container
		.breadcrumb-content
			h3.pagename
			ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
						span(itemprop='name') Trang chủ
					meta(itemprop='position', content='1')
				li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
					a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
						span(itemprop='name') Tuyển dụng
					meta(itemprop='position', content='2')
section.career-page.clearfix
	.container
		h1.home-title.text-center Tuyển dụng
		.job-wrap
			.table-responsive
				table.table
					thead.thead-dark
						tr
							th Vị trí làm việc
							th Nơi làm việc
							th Ngày hết hạn
							th
					tbody
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								.badge.badge-danger Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								.badge.badge-danger Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								.badge.badge-danger Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới
						tr
							td
								h2
									a(href='#!', target='_self', title='Trưởng phòng kinh doanh')
										i.fa.fa-angle-right(aria-hidden='true')
										| Trưởng phòng kinh doanh
									//- a.edit-link(title='Sửa', href='http://sabeco.canhcam.gb/News/NewsEdit.aspx?NewsID=82')
										i.fa.fa-pencil
							td Tp.HCM
							td 21/03/2017
							td
								//- span.new Mới