header
	.header-top.clearfix
		.container
			.top-wrap 
				.news-ticker
					.ti_wrapper
						.ti_slide
							.ti_content
								.ti_news
									a(href='#')
										span Không nhận tip - không hóa chất trong các liệu trình
								.ti_news
									a(href='#')
										span Không nhận tip - không hóa chất trong các liệu trình
								.ti_news
									a(href='#')
										span Không nhận tip - không hóa chất trong các liệu trình
				.hotline
					a(href="tel:028 3920 0065") 028 3920 0065

	.header-main.clearfix
		.container
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.overlay
			.btn-togglemenu.d-flex.d-xl-none
				span
			nav.menu.clearfix
				.menu-content
					.menu-wrap
						ul.menu-link
							li
								a(href="#!") Giới thiệu
							li
								a(href="#!") Dịch vụ
							li
								a(href="#!") Sản phẩm
							li
								a(href="#!") Khuyến mãi
							li
								a(href="#!") Hành động vì cộng đồng
							li
								a(href="#!") Tuyển dụng
							li
								a(href="#!") Liên hệ
					a.btn-cosmetic(href="#!") 
						.icon
							img(src="img/icon/lotus.png", alt="")
						span Mỹ phẩm
	.fly-menu 
		a(href="img/menu.jpg" data-fancybox="flymenu") <i class="fa fa-bars" aria-hidden="true"></i> MENU
		a.d-xs-none(href="img/menu2.jpg" data-fancybox="flymenu")